// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

body {
  padding-top: 50px;
}

#errorHeader {
  @extend .alert;
  @extend .alert-danger;
  margin-top: 10px;
}

.eb-header-columns {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.eb-header-column {
  padding: 10px;
}
.eb-header-pr {
  background-color: darkkhaki;
  color: white;
  p {
    color: beige;
  }
}

.eb-site-footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
}
.link-to-top {
  margin-bottom: 10px;
  text-align: right;
}
.eb-footer-columns {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 20px;
}

.nav-stacked ul {
  margin-left: 15px !important;
}
.eb-list-nested {
  .active {
  }
}

.eb-sidebar-calendar {
  th,
  td {
    text-align: center;
  }
}
.holiday {
  @extend .danger;
}
.today {
  @extend .success;
}

.eb-form-require {
  label {
    &:before {
      color: red;
      content: '*';
    }
  }
}

.eb-form-float-control {
  margin-bottom: 10px;
}

@media (min-width: $screen-sm-min) {
  .eb-form-float-control {
    margin-bottom: 0;
  }
}
